#introtext {
 
 

    background-image: url("http://s3.amazonaws.com/hiphopdx-production/2016/01/Snoop-Dogg_01-22-2016.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}



canvas {
 
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    
}

@font-face {
    font-family: lapidar;
    src: url(../assets/academica.woff);
}







